<?php
return [
    'baseurl' => 'http://localhost/',
    'akismetKey' => '',
    'sendGridKey' => '',
    'hCaptchaSiteKey' => '',
    'hCaptchaSecretKey' => '',
    'adminUsernames' => [],
    'trustedUsernames' => [],
];
