<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{html_title}}</title>
    <link rel="stylesheet" href="{{baseurl}}style.css">
</head>
<body>
<header>
<h1>{{h1}}</h1>
{{#is_logged_in}}
<p>
    G'day there, <a href="{{baseurl}}profile/{{user_id}}">{{username}}</a>
</p>
{{/is_logged_in}}
<nav>
    <ul>
        <li><a href="{{baseurl}}">Home</a></li>
        <li><a href="{{baseurl}}tags">Tags</a></li>
        <li class="button"><a href="{{baseurl}}post">New Post</a></li>
        {{#is_logged_in}}
        <li>
            <form action="{{baseurl}}logout" method="post" class="logout">
                <input type="hidden" name="csrf" value="{{csrf}}">
                <button type="submit">Logout</button>
            </form>
        </li>
        {{/is_logged_in}}
        {{^is_logged_in}}
        <li><a href="{{baseurl}}login">Login</a></li>
        {{/is_logged_in}}
        <li><a href="https://wiki.osarch.org">Wiki</a></li>
        <li><a href="https://chat.osarch.org">Chat</a></li>
        <li><a href="https://osarch.org">News</a></li>
    </ul>
    <form action="{{baseurl}}search" method="get">
        <input type="text" name="q" value="" placeholder="Search">
        <input type="submit" value="Search">
    </form>
</nav>
</header>
