<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSArch Community</title>
    <link rel="stylesheet" href="{{baseurl}}style.css">
</head>
<body>
<header>
<h1>OSArch Community</h1>
{{#is_logged_in}}
<p>
    G'day there, <strong>{{username}}</strong>
</p>
{{/is_logged_in}}
<nav>
    <ul>
        <li><a href="{{baseurl}}">All Threads</a></li>
        <li class="button"><a href="{{baseurl}}post">New Post</a></li>
        {{#is_logged_in}}
        <li><a href="{{baseurl}}logout">Logout</a></li>
        {{/is_logged_in}}
        {{^is_logged_in}}
        <li><a href="{{baseurl}}login">Login</a></li>
        {{/is_logged_in}}
        <li><a href="{{baseurl}}">Wiki</a></li>
        <li><a href="{{baseurl}}">Live Chat</a></li>
        <li><a href="{{baseurl}}">News</a></li>
    </ul>
    <form action="{{baseurl}}search" method="get">
        <input type="text" name="q" value="" placeholder="Search">
        <input type="submit" value="Search">
    </form>
</nav>
</header>
