<p>
    Welcome to the <strong>{{h1}}</strong>
</p>
<p>{{blurb}}</p>
<ol class="threads">
    {{#threads}}
    <li class="thread{{#is_unread}} unread{{/is_unread}}">
        <span class="avatar {{avatar}}">{{initial}}</span>
        <span class="thread-title"><a href="{{baseurl}}thread/{{id}}/p{{last_page}}">{{title}}</a></span>{{#is_unread}}<small> (New)</small>{{/is_unread}}<br>
        <span class="metadata">by <strong>{{username}}</strong>, <strong>{{views}}</strong> views, <strong>{{total_posts}}</strong> replies, most recent by <strong>{{last_username}}</strong> {{ts_updated}}</span>
    </li>
    {{/threads}}
</ol>
{{#has_pagination}}
<ol class="pagination">
    {{#pages}}
    <li{{#is_active}} class="active"{{/is_active}}>{{#page}}<a href="{{baseurl}}p{{page}}">{{#is_first}}Page {{/is_first}}{{page}}</a>{{/page}}{{^page}}<span>…</span>{{/page}}</li>
    {{/pages}}
</ol>
{{/has_pagination}}
<script src="{{baseurl}}index.js"></script>
