{{>header}}
<script src='https://www.hCaptcha.com/1/api.js' async defer></script>
<h2>Login</h2>
{{#has_login_error}}
<p><strong>Failed to login</strong>. Either the username or password is incorrect, or the account is not yet verified (<a href="{{baseurl}}verify">Resend verification email</a>).</p>
{{/has_login_error}}
<form action="{{baseurl}}login" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <label for="username">Username</label>
    <input type="text" name="username" value="{{username}}" />
    <label for="password">Password (<a href="{{baseurl}}reset">Forgot?</a>)</label>
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>
<h2>Register</h2>
{{#has_register_success}}
<p><strong>Hooray!</strong> We've just sent you a verification email. Verify your account then you can sign in.</p>
{{/has_register_success}}
{{^has_register_success}}
{{#has_register_errors}}
<p><strong>Uh oh</strong>. Errors occured during registration:</p>
<ul>
{{#errors}}
    <li>{{.}}</li>
{{/errors}}
</ul>
{{/has_register_errors}}
<form action="{{baseurl}}register" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <label for="username">Username</label>
    <input type="text" name="username" value="{{username}}" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <label for="password2">Password Again</label>
    <input type="password" name="password2" />
    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}" />
    <p>
        This is a fiendishly difficult IQ test. Please spell "osarch" backwards.
    </p>
    <label for="answer">Answer</label>
    <input type="text" name="answer" value="{{answer}}" />
    <p>
        Are you human?
    </p>
    <div class="h-captcha" data-sitekey="{{captcha}}"></div>
    <input type="submit" value="Register" />
</form>
{{/has_register_success}}
{{>footer}}
