<h2>Edit profile</h2>
{{#code}}
{{#is_valid_code}}
{{#is_success}}
<p>Your profile has been updated.</p>
{{/is_success}}
{{^is_success}}
{{#has_errors}}
<p><strong>Uh oh</strong>. Your profile has issues:</p>
<ul class="errors">
{{#errors}}
    <li>{{.}}</li>
{{/errors}}
</ul>
{{/has_errors}}
<form action="{{baseurl}}profile/edit/{{code}}" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}" />
    <p>Bio can be formatted using <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>.</p>
    <textarea name="bio" placeholder="Write a short bio about yourself (optional)...">{{bio}}</textarea>
    <input type="submit" value="Edit Profile" />
</form>
<h2>Delete account</h2>
<p><strong>WARNING: there is no undo!</strong> If you press this button, that's it. All your posts will be removed.</p>
<form action="{{baseurl}}profile/delete/{{code}}" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <input type="checkbox" name="confirm" value="yes" required />I confirm that I want to delete my account
    <input type="submit" value="Delete Account" />
</form>
{{/is_success}}
{{/is_valid_code}}
{{^is_valid_code}}
<p>The code is incorrect, expired, or already used.</p>
{{/is_valid_code}}
{{/code}}
{{^code}}
{{#is_sent}}
<p><strong>Cheers!</strong> If that is the correct email, we've just sent you a code.</p>
{{/is_sent}}
{{^is_sent}}
<p>
    Confirm your account email, and we'll send you an email with a one-time profile edit code. If you want to change your password, you can <a href="{{baseurl}}reset">reset your password</a>.
{{/is_sent}}
<form action="{{baseurl}}profile/edit" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <label for="email">Email</label>
    <input type="email" name="email" />
    <input type="submit" value="Send Profile Code" />
</form>
{{/code}}
