<h2>{{title}}</h2>
{{#can_edit}}
<p><a href="{{baseurl}}thread/edit/{{id}}">Edit thread</a></p>
{{/can_edit}}
<ol class="posts">
{{#posts}}
    <li class="post">
        <a id="{{id}}"></a>
        <span class="avatar {{avatar}}">{{initial}}</span>
        <span class="metadata">
            by <strong>{{username}}</strong> on <strong>{{ts_created}}</strong>{{#ts_updated}}, edited <strong>{{ts_updated}}</strong>{{/ts_updated}}
            <a href="{{baseurl}}thread/{{thread_id}}/p{{page}}#{{id}}">#</a>
            {{#can_edit}}
            <a href="{{baseurl}}post/edit/{{id}}">edit</a>
            {{/can_edit}}
            {{#has_votes}}
            {{#upvotes}}+{{upvotes}}{{/upvotes}} {{#downvotes}}-{{downvotes}}{{/downvotes}} votes
            {{/has_votes}}
            {{#user_vote}}
            {{#user_upvote}}
            &blacktriangle;
            {{/user_upvote}}
            {{^user_upvote}}
            &blacktriangledown;
            {{/user_upvote}}
            {{/user_vote}}
            {{#can_vote}}
            <form action="{{baseurl}}vote" method="post" class="vote-form">
              <input type="hidden" name="csrf" value="{{csrf}}">
              <input type="hidden" name="post_id" value="{{id}}">
              <input type="hidden" name="page" value="{{page}}">
              <button name="vote" value="1" {{#user_vote_is_upvoted}}disabled{{/user_vote_is_upvoted}}>&blacktriangle;</button>
              <button name="vote" value="-1" {{#user_vote_is_downvoted}}disabled{{/user_vote_is_downvoted}}>&blacktriangledown;</button>
            </form>
            {{/can_vote}}
        </span>
        <article>
            {{{content}}}
        </article>
    </li>
{{/posts}}
</ol>
{{#has_pagination}}
<ol class="pagination">
    {{#pages}}
    <li{{#is_active}} class="active"{{/is_active}}>{{#page}}<a href="{{baseurl}}thread/{{id}}/p{{page}}">{{#is_first}}Page {{/is_first}}{{page}}</a>{{/page}}{{^page}}<span>…</span>{{/page}}</li>
    {{/pages}}
</ol>
{{/has_pagination}}
{{#is_logged_in}}
<p>Posts can be formatted using <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>.</p>
<p><a href="{{baseurl}}upload" id="upload-link">Attach file?</a> <small>(images, txt, zip, pdf, and ifc)</small></p>
{{#has_error}}
<p><strong>Uh oh</strong>. Your post has issues:</p>
<ul class="errors">
{{#errors}}
    <li>{{.}}</li>
{{/errors}}
</ul>
{{/has_error}}
<form action="" method="post">
    <input type="hidden" name="csrf" value="{{csrf}}" />
    <textarea name="content" id="content"></textarea>
    <input type="submit" value="Reply" />
</form>
<script src="{{baseurl}}marked.min.js"></script>
<script src="{{baseurl}}purify.min.js"></script>
<script src="{{baseurl}}post.js"></script>
{{/is_logged_in}}
{{^is_logged_in}}
<p>
    <a href="{{baseurl}}login">Login or Register</a> to reply.
</p>
{{/is_logged_in}}
